{% extends '__base.html' %}

{% block content %}
    <h1>Create New Product</h1>

    <form action="{% url 'blog:create_product' %}" method="post">
        {% csrf_token %}
        
        <label class="form-label">Title</label>
        <input type="text" name="name" class="form-control"/>

        <label class="form-label">Description</label>
        <textarea name="description" class="form-control"></textarea>

        <label class="form-label">Price</label>
        <input type="number" name="price" class="form-control" step="0.01" min="0"/>

        <button type="submit">Create</button>
    </form>
{% endblock %}
