{% extends '__base.html' %}

{% block content %}
    <h1>Products tagged with "{{ tag.name }}"</h1>

    <h3>List of Products:</h3>
    <ul>
        {% if products %}
            {% for product in products %}
                <li>
                    <a href="{% url 'blog:product_detail' product.id %}">{{ product.name }}</a> 
                    - {{ product.price }} 
                    <p>{{ product.description }}</p>
                </li>
            {% endfor %}
        {% else %}
            <p>No products found for this tag.</p>
        {% endif %}
    </ul>
{% endblock %}
